.name {
	padding-left: 0.5rem;
	font-size: 1.5rem;
	color: green;
	font-style: italic;
}

h3 {
	background-color: gainsboro;
}

h3,
p {
	border: 1px solid black;
	border-radius: 5px;
	margin: 4px;
}

span {
	margin-left: 1rem;
	color: darkblue;
	font-weight: bold;
	font-style: initial;
}

.id,
.mail {
	padding-left: 0.5rem;
	background-color: greenyellow;
	color: brown;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2rem;
}